{% extends "base.html" %}

{% block content %}
  <h1><strong>{{ car.model }} 🚘</strong></h1>
  <hr>
  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Country:</strong> {{ car.manufacturer.country }}</p>
  {% if car.drivers %}
    <p><strong>Drivers:</strong></p>
    <ul>
      {% for driver in car.drivers.all %}
        <li><a href="{% url 'taxi:driver-detail' driver.id %}"> {{ driver.first_name }} {{ driver.last_name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No drivers</p>
  {% endif %}
{% endblock %}
